<ul>
  <%= link_to ride, :class=> "btn btn-xl btn-outline-light" do %>
  <div>
    <%= "Departure: #{ride.departure}"%> <br>
    <%= "Destination: #{ride.destination}" %> <br>
    <%= "Date: #{ride.time.strftime('%B %e %Y')}" %> <br>
  </div>
  <% end %>
</ul>
