<ul>
  <%= link_to ride do %>
  <div>
    <%= "Departure: #{ride.departure}"%> <br>
    <%= "Destination: #{ride.destination}" %> <br>
    <%= "Date: #{ride.time.strftime('%B %e')}" %> <br>
  </div>
  <% end %>
</ul>
