
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
    <%#   <img class="img-fluid mb-5 d-block mx-auto" src="app/assets/images/lit_ride.png">  %>
      <%= image_tag("lit_ride.png", class: "img-fluid mb-5 d-block mx-auto")  %>
        <h1 class="text-uppercase mb-0">GET A LIT RIDE</h1>
        <hr class="star-light">
        <% if session[:user_id]==nil%>
        <h1 class = "text-uppercase mb-0"><%= link_to "Sign Up", new_user_path, class: "btn btn-primary btn-xl"%></h1>
        <% end%>
      </div>
    </header>


<%# if session[:user_id] == nil %>
  <%# link_to "Log In", login_path %>
  <%#link_to "Sign Up", new_user_path %>
<%#else %>
  <%# "You are already logged in!" %>
  <%# link_to "Continue to Dashboard", "users/#{session[:user_id]}/main_page" %>
  <%# link_to "Browse Rides", rides_path %>
  <%#link_to "Log Out", logout_path, method: :delete %>
<%# end %>
