@font-face {
    font-family: "bebas";
    src: url('BebasNeue-Bold.ttf') format('truetype');
    src: url('BebasNeue-Bold.otf') format('truetype');
  }

h1 {
    /* font-family: 'Open Sans', sans-serif; */
    /* font-weight: bolder; */
    font-family: 'bebas';
    /* font-family: 'Quicksand', sans-serif; */
    font-weight: 800;
}

.title {
    margin-top: 10vh;
    margin-bottom: 0;
    font-size: 15em;
    color: black;
    text-shadow: 2px 2px 10px rgb(130, 234, 224);
    background: rgba(245, 245, 245, 0.685);
    padding-top: 5vh;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

body::after {
    content: "";
    background: url('highway_top.jpg');
    background-size: cover;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

/* nav bar */

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #222;
    box-shadow: 0 0 2px 1px whitesmoke;
    height: 8vh;
    overflow: hidden;
  }

ul.nav li {
    margin: 0 .5em;
    float: right;
}

ul.nav a {
    display: block;
    color: white;
    font-weight: bold;
    padding: 1em .5em;
    text-align: center;
    text-decoration: none;
}
ul.nav a:hover {
    color: rgb(51, 255, 143);
    transition: all .5s;
}

li#nav-logo {
    float: left;
    font-size: large;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    margin-left: 3vh;
}

.car-icon {
    max-height: 4vh;
    margin-left: 16vh;
    margin-top: 2.5vh;
    position: absolute;
    float: left;
    z-index: 100;
    transform: scaleX(-1);
    
}

.wheel-icon {
    height: 30vh;
    animation: 5s infinite linear rotate; 
}

@keyframes rotate {
    0% {
        transform: rotate(30deg)
    } 50% {
        transform: rotate(-30deg)
    } 100% {
        transform: rotate(30deg)
    }
}

.sign-up input{
    /* font-family: 'Quicksand', sans-serif; */
    font-size: 4vh;
    padding: .7vh;
    font-weight: bold;
    margin: 0;
}


input, select {
    padding: .85em;
    border-radius: 6px;
    border: none;
    margin: .8em .4em;
    box-shadow: 0 0 2px 0.5px #161616;
    background: rgba(245,245,245,.7);
    font-size: 1.8vh;
}

select {
    height: 5vh;
}
.submit-btn {
    width: 20vh;
    height: 6vh;
    font-size: medium;
    font-weight: bold;
}
.submit-btn:hover {
    background: black;
    color: white;
    cursor: pointer;
    transition: all .5s;
}

.gen-btn {
    width: 30vh;
    height: 8vh;
    font-size: medium;
    font-weight: bold;
}

.gen-btn:hover {
    box-shadow: 0 0 4px .5px rgb(199, 199, 199);
    background: rgba(92, 255, 141, 0.8);
    transform: translateY(-.2em);
    transition: all .5s;
    cursor: pointer;
}

.centered {
    text-align: center
}

.container {
    margin: 2em 3em;
}

