<div class="container">
<h2>Thanks for your Review!</h2>
<hr>
<%= render partial: 'display', :locals => {:review => @review} %>


<%= link_to @review.user.full_name, @review.user, :class=> "btn btn-xl btn-outline-light" %> 
</div>